*{
	margin: 0px;	/*setting defaults so nothing messes with it later*/
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
header, section, footer, aside, nav, article{          /*for lame browsers*/
	display:block;
}
body{
	text-align: center;
}
#bigWrapper{
	border: 1px solid black;
	width: 1000px;
	margin: 20px auto;
	text-align: left;
}
#topHeader{
	background : #CC66FF;
	border: 1px solid red;
	padding: 20px;
	text-align: center;
}
#topMenu{
	background: #FF0033;
	color: white;
}
#topMenu li{
	display:inline-block;
	list-style:none;
	padding:10px;
	font:bold 14px Tahoma;
}
#mainSection{
	float: left;
	width: 660px;
	margin: 30px;  /* 720px 280left */
}
#sidebar{
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
}
#foot{
	clear:both;
	text-align: center;
	padding:  20px;
	border-top: 2px solid green;
}